{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Profile Card</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">



</head>
<body>
  <div class="card">
    <div class="profile-image">
  
    </div>
    <h2>Jo. Sabana</h2>
	  <p align="center"><strong>Student</strong></p>
	    <p><strong>SIT727 - Cloud Automation Technologies</strong> </p>
	  <div class="details">
	  <p>&nbsp;</p>
	
	  <p>S739 Master of Information Technology Management (Professional)</p>
    <p>Faculty of Science, Engineering and Built Environment</p>
    <p>Deakin University, Geelong, Victoria 3217, Australia</p>
		  </div>
    
    
 
  </div>

</body>
</html>
